
.carousel-img{
    width: 43% !important; 
}

.titulo-peli{
    background-color: #FFBA00 !important;
}

.titulo-peli h4 a{
    text-decoration: none;
    color: white;
}

.sesiones-agotadas{
    color: red;
}

