.icon-naranja{
    color: #FE6D00;
}
  
.logo{
    width: 45%;
}
  
.perfil-img{
    width: 65px !important;
    height: 65px !important;
    border-radius: 4em;
    border: 2px solid #FFBA00;
}

.botonsubmit{
    border: 0px solid white;
}

.idioma{
    filter: grayscale(100%) !important;
}

